.bg1{
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg2{
    z-index: -3;
    background-repeat: no-repeat;
    background-size: cover;
}
.font{
    padding-top: 5%;
    font-size: 5em;
    color: rgb(95, 28, 16);
}
.font:hover{
    transform: scale(1.3);
}
.font1{
    padding: -1%;
    font-size: 2em;
    color: rgb(0, 31, 27);
}
.font1:hover{
    color: rgb(25, 12, 54);
}
.font2{
    padding-top: 20%;
    color: rgb(6, 9, 185);
}
.font3{
    color: rgb(0, 3, 5);
}
.navigation{
    font-family: 'bree Serif', serif;
    font-size:20px;
    color: aliceblue;
    display: flex;
    
    }
    li{
       font-style: italic;
       font-family: 'Baloo Bhai 2', cursive;
        list-style: none;
        padding: 20px 23px;
      
    }
    li,a:hover{
        color: rgb(12, 3, 0);
        text-shadow:2px 3px 8px rgb(180, 43, 107);

    }
    .btn3{
        background: #00b894;
        color: white;
        border-radius: 2%;
    }
    .btn:hover{
        background: #fff;
        color: #000;
    }